<div class="row">
  <div class="col">
    <div>
      <%= link_to "/auth/github", class: "button expanded github" do %>
        <i class="fi-social-github"></i>
        Sign in with GitHub
      <% end %>
    </div>

    <div>
      <%= link_to "/auth/gitlab", class: "alert button expanded google" do %>
        <i class="fi-social-google-plus"></i>
        Sign in with GitLab
      <% end %>
    </div>

    <div>
      <%= link_to "/auth/twitter", class: "button expanded twitter" do %>
        <i class="fi-social-twitter"></i>
        Sign in with Twitter
      <% end %>
    </div>
  </div>
</div>
