<% @code_examples.each do |ex| %>
  <div class="row">
    <div class="col">
      <hr />
      <h2><%= ex.name %></h2>
      <p>Submitted by <%= link_to ex.user, usr_path(ex.user) %></p>
      <p>[<%= link_to "details", ex_path(ex) %>]</p>
      <p><%= ex.description %></p>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col">
    <hr />
  </div>
</div>
