<div class="row">
  <div class="col">
    <p>Submitted by <%= link_to @ex.user, usr_path(@ex.user) %></p>
    <p>[<%= link_to "original repo", @ex.git %>]</p>
    <xmp id="ex-markdown-content" style="display:none;"><%= @ex.content %></xmp>
    <p id="ex-markup-content"></p>
  </div>
</div>

<% content_for :javascript do %>
  marked.setOptions({
    highlight: (code) => {
      return hljs.highlightAuto(code).value
    }
  })

  let markdown = document.getElementById('ex-markdown-content').innerHTML
  let markup = marked(markdown)
  document.getElementById('ex-markup-content').innerHTML = markup
<% end %>
