<div class="row">
  <ul class="col">
    <li>
      <%# image_tag "logo.png", class: "logo" %>
    </li>
    <li class="menu-text">Exloc</li>
    <li>
      <%= link_to "Home", root_path %>
    </li>
  </ul>

  <ul class="col">
    <%= render template: "layouts/admin" if admin? %>
    <%= render template: "layouts/auth" %>
  </ul>
</div>
